body {
  width: 1230px;
  margin: 20px auto;
  font-family: Georgia;
}

h1 {
  margin: 0;
}

a {
  color: blue;
}

#editor {
  width: 600px !important;
  height: 775px !important;
  margin-right: 20px;
  display: inline-block;
}

iframe {
  border: 1px solid black;
}